{% raw %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="tsTool"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>u-Platform Reports</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

		<link rel="stylesheet" href="css/tsApp.css">		

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>

		<script src="js/controllers.js"></script>
    </head>
    <body ng-controller="tsMainController">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<textarea id="rawInput" ng-model="rawInput" ng-change="parser.onRawInputChange($event)"></textarea>
		<div id="errorsInput" ng-bind-html="errorsInput"></div>
        
        <button ng-click="ui.onSubmitClick()">CVS Submit</button>
        <span>response: {{ui.response}}</span>
        
        <table class="ts-table" border="1" width="100%">
				<th>Date</th>
				<th>Start time</th>
				<th>Finish time</th>
				<th>Queue ID</th>
				<th>Ticket ID</th>
				<th>Description</th>
			</tr>
			<tr ng-repeat="rec in records track by $index">
				<td class="date">{{rec.day}}</td>
				<td>{{rec.start}}</td>
				<td>{{rec.finish}}</td>
				<td>{{rec.queue}}</td>
				<td>{{rec.ticket}}</td>
				<td>{{rec.desc}}</td>
		</table>
        <script type="text/javascript">
        </script>
        <script src="js/main.js"></script>
    </body>
</html>
{% endraw %}
